{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "react/jsx-filename-extension": 0,
    "react/prop-types": 0,
    "import/prefer-default-export": 0,
    "react/react-in-jsx-scope": 0,
    "jsx-a11y/anchor-is-valid": 0
  },
  "globals": {
    "window": true,
    "fetch": true
  }
}